.background {
    -fx-background-color: rgba(255, 239, 213, 0.5);
    -fx-pref-width: 400px;
    -fx-pref-height: 570px;
    -fx-min-width: 320px;
    -fx-min-height: 450px;
    -fx-padding: 20 20 20 20;
}

.title {
    -fx-font-size: 32;
    -fx-font-family: "Arial";
    -fx-font-weight: bold;
    -fx-text-fill: #5e5757;
}

.infoLabel {
    -fx-background-color: lightgrey;
    -fx-background-radius: 5;
    -fx-padding: 5 7 5 7;
    -fx-pref-width: 150px;
    -fx-pref-height: 30px;
    -fx-alignment: center-left;
    -fx-font-size: 18px;
    -fx-font-family: "Arial Black";
    -fx-font-weight: bold;
    -fx-text-fill: #5e5757;
}

.gridPane {
    -fx-pref-width: 400px;
    -fx-pref-height: 300px;
    -fx-vgap: 7px;
    -fx-hgap: 7px;
    -fx-min-width: 400px;
    -fx-min-height: 300px;
    -fx-max-width: 400px;
    -fx-max-height: 300px;
    -fx-padding: 10 58 9 60;
}

.startButton {
    -fx-background-radius: 8;
    -fx-font-size: 18px;
    -fx-font-family: "Calibri";
    -fx-font-weight: bold;
    -fx-text-fill: eae7e7;
    -fx-background-color: orange;
    -fx-pref-width: 124px;
    -fx-pref-height: 42px;
}

.chip {
    -fx-background-radius: 5;
    -fx-font-family: "Calibri";
    -fx-font-weight: bold;
    -fx-font-size: 24px;
    -fx-alignment: center;
    -fx-pref-width: 65px;
    -fx-pref-height: 65px;
    -fx-text-fill: white;
}
.chip2 {
    -fx-background-color: eee4da;
    -fx-text-fill: black;
}
.chip4 {
    -fx-background-color: ede0c8;
    -fx-text-fill: black;
}
.chip8 {
    -fx-background-color: f2b179;
}
.chip16 {
    -fx-background-color: f59762;
}
.chip32 {
    -fx-background-color: f67c5f;
}
.chip64 {
    -fx-background-color: f65e3b;
}
.chip128 {
    -fx-background-color: edcf72;
}
.chip256 {
    -fx-background-color: eccb60;
}
.chip512 {
    -fx-background-color: edc850;
}
.chip1024 {
    -fx-background-color: edc642;
}
.chip2048 {
    -fx-background-color: edc22e;
}